.cert-square {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;

}


.flex-center{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.truncated {
    display: block;
    white-space: nowrap;      
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (min-width: 250) and (max-width: 768px) {
    .hidden-md{
        display: none !important;
    }
  }


  .certBgImg {
    position: relative;
  }
  
  .certBgImg::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 40%;
    top: 0;
    width: 50%;
    height: 100%;
    opacity: 0.16;    
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .cert-py::before{
    background-image: url('../assets/Python.svg');
  }
  .cert-css::before{
    background-image: url('../assets/CSS.svg');
  }
  .cert-sql::before{
    background-image: url('../assets/SQL.svg');
  }
  .cert-java::before{
    background-image: url('../assets/Java.svg');
  }
  .cert-ps::before{
    background-image: url('../assets/ProblemSolving.svg');
  }
  .cert-spark::before{
    background-image: url('../assets/apacheSpark.svg');
  }
  .cert-javascript::before{
    background-image: url('../assets/javascript.svg');
  }
  .cert-graph::before{
    background-image: url('../assets/graph.svg');
  }

 .box-shadow-cust{
    box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.371);
    border: 1px rgba(0, 0, 0, 0.201) solid;
 }