.typewritercss {
  font-size: 3rem;
  font-weight: 500;
  color: #1F6E8C !important;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7px;
  background: #1F6E8C;
  transform-origin: 0%;
}

.bg-box {
  width: 20rem;
  height: 20rem;
  background: rgba(245, 232, 199, 1);
}

.homepage-body {
  

}


.font-weight-900{
  font-weight: 900;
  font-family: 'Figtree', sans-serif;
}

.homepage{
  background-color: #ffffff;
  color: rgb(0, 0, 0) !important;
  padding: 1rem 0;
  margin:0.5rem 0;
}

.btn-custom-blue{
  background-color: #1F6E8C !important;
  color: #FFFFFF !important;
}